.footer--wrap{width: 100%;border-top: 1px solid #ccc;background-color: #f1f1f1;padding: 1.5rem 0;}
.footer-content{ display: flex;align-items: flex-start;justify-content: space-between;flex-direction: column;gap: 1.5rem; color: #333;font-size: 14px;}
.footer-nav-list{display: flex;gap: 1.5rem;justify-content: center;margin-bottom: 1rem;}